/* index page */
@media(max-width:1220px) {
    .popular-sidebar {
        max-width: 480px;
    }

    .programs__slider {
        height: 400px;
    }

    .programs-slide__info {
        padding-top: 0px;
    }

    .programs-slide__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 129%;
    }

    .programs-slider__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .programs-slide__container {
        padding-top: 2%;
    }

    .slider-navigation {
        left: 1%;
        bottom: 1%;
    }

    .programs-slide__info {
        gap: 35px;
    }

    .programs-slide__text {
        max-width: 400px;
    }
}

@media(max-width:1100px) {


    /* Footer */
    .footer__top_inner {
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }

    .footer__nav_list {
        flex-wrap: wrap;
    }
}

@media(max-width:1000px) {
    .header {
        overflow: hidden;
    }

    .header__list {
        display: none;
    }

    .header__burger_btn {
        display: flex;
    }

    .header__nav {
        gap: 25px;
    }

    .menu {
        height: 100%;
    }

    .news__grid {
        flex-direction: column;
    }

    .news-block {
        min-width: auto;
    }

    .news-item {
        flex-basis: 224px;
        flex-grow: 1;
        width: auto;
    }

    .main-news-item {
        /* width: 100%; */
        flex-basis: 100%;
        flex-grow: 1;
        min-height: 248px;
        height: auto;
    }

    .main-news-item .news-item__bottom {
        height: auto;
    }

    .main-news-item .news-item__media {
        /* width: 440px; */
        flex-basis: 440px;
        flex-shrink: 0;
        width: auto;
        height: 100%;
    }

    .main-news-item a {
        flex-basis: 440px;
        flex-shrink: 1;
    }

    .main-news-item .news-item__bottom {
        max-width: 264px;
    }

    .main-news-item .news-item__descr p {
        -webkit-line-clamp: 5;
    }

    .main-transfers__list {
        justify-content: center;
    }


    .tabs {
        height: 42px;
    }

    .tabs__list {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
    }

    .schedule-list__item {
        max-width: 180px;
    }

    .menu-news {
        /* flex-direction: column; */
    }

    .menu-tabs {
        overflow: scroll;
    }

    .menu__inner {
        padding-top: 100px;
    }

    .menu-news__media {
        width: 112px;
        height: 80px;
    }

    .menu-news__title a {
        font-size: 16px;
        line-height: 150%;
    }
}

@media(max-width:750px) {

    .main-news-item a {
        /* width: 440px; */
        flex-basis: 100%;
        flex-shrink: 1;
        height: 300px;
    }

    .main-news-item .news-item__title a {
        height: auto;
    }

    .main-news-item .news-item__bottom {
        width: 60%;
        max-width: none;
    }


    /* Footer */
    .footer__mid_inner {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .footer__socials {
        align-items: start;
    }

    .menu-tabs {
        max-width: 400px;
    }

    .menu-news__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: #fff;
    }

    .menu-news__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: #fff;
    }

    .news__grid {
        gap: 50px;
    }

    .main-transfers__list {
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .main-transfers__list .transferItem {
        scroll-snap-align: start;
    }

    .popular__content {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

    }

    .popular-item {
        scroll-snap-align: start;
        flex-shrink: 0;
    }
}

@media(max-width:620px) {
    .news-item .news-item__media {
        height: 192px;
    }

    .main-news-item {
        flex-direction: column;
    }

    .main-news-item .news-item__bottom {
        width: 100%;
        max-width: none;
    }

    .main-news-item a {
        width: 100%;
    }

    .header__top_inner {
        gap: 15px;
    }


    /* Footer */
    .footer__nav_list {
        flex-direction: column;
        gap: 15px;
    }

    .page-title {
        font-size: 28px;
        line-height: 129%;
    }
}

@media(max-width:470px) {

    .popular__title,
    .main-transfers__title {
        line-height: 129%;
        font-size: 28px;
    }

    .main-transfers__all {
        display: none;
    }

    .main-transfers__all--mobile {
        display: block;
        margin-top: 15px;
    }
}





/* news page */
@media(max-width:1100px) {
    .news-content__bottom {
        flex-direction: column;
    }

    .news-content__right {
        max-width: none;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }

    .popular-sidebar--news {
        margin-top: 0;
    }
}

@media(max-width:800px) {
    .news-item--second {
        flex-direction: column;
        flex-grow: 0;
        width: 224px;
        margin-top: 30px;
    }

    .news-item--second .news-item__media {
        width: 100%;
    }

    .main-news-item {
        width: 100%;
        flex-grow: 1;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .main-news-item .news-item__media {
        border-radius: 12px;
        width: 440px;
        height: 248px;
    }

    .news-block__list--second {
        flex-wrap: wrap;
        padding-top: 0;
        flex-direction: row;
    }

    .main-news-item>.news-item__bottom {
        max-width: none;
    }

    .news-item.news-item--second .news-item__descr {
        display: none;
    }

    .news-content__news-block {
        padding-bottom: 10%;
    }

    .news-item.main-news-item .news-item__info {
        display: flex;
        gap: 5px;
    }

    .news-item.main-news-item .news-item__descr {
        display: block;
    }

    .news-content__tabs_wrapper {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

}

@media(max-width:700px) {
    .news-block__list--second {
        flex-direction: column;
    }

    .news-item.main-news-item {
        flex-direction: column;
    }

    .news-item.main-news-item .news-item__media {
        width: 100%;
    }

    .news-item--second {
        width: 100%;
        margin-top: 50px;
    }

    .news-item--second a {
        width: 100%;
    }

    .news-item--second .news-item__media {
        width: 100%;
    }

    .news-content__right {
        flex-direction: column;
    }

    .news-content__right .ads-block {
        max-width: 264px;
    }

    .news-content__top .filters {
        flex-direction: column;
        align-items: start;
    }

    .news-content__top .filter-item {
        width: 100%;
    }
}




/* single news page */
@media (max-width:1100px) {
    .single-news-content__inner {
        padding: 0 2%;
    }

    .single-news__content {
        grid-template-columns: 100%;
        flex-basis: 100%;
    }

    .single-news__content--main {
        order: 0;
    }

    .single-news-other__inner {
        order: 1;
    }

    .single-news__right-block {
        order: 2;
        display: flex;
        flex-direction: row-reverse;
        max-width: none;
        justify-content: start;
        gap: 30px;
    }

    .single-news__right-block .ads-block {
        max-width: 280px;
    }
}

@media (max-width:770px) {
    .single-news__right-block {
        flex-direction: column-reverse;
    }
}







/* live page */
@media(max-width:1100px) {
    .live-content__left {
        padding-bottom: 100px;
    }
}

@media (max-width:1000px) {
    .live-content__right {
        display: none;
    }

    .live-content {
        flex-direction: column;
        align-items: start;
    }

    .live__main-media {
        height: auto;
    }
}

@media (max-width:650px) {
    .programListItem.programListItem--third .programListItem__media {
        display: none;
    }

    .programListItem.programListItem--third .programListItem__media.programListItem__media--mobile {
        margin-top: 2%;
        display: block;
    }

    .programListItem--third {
        max-height: none;
    }

    .live__inner {
        padding-top: 20px;
    }

    .live-content {
        align-items: center;
    }

    .live-content__left {
        padding-bottom: 0;
    }

    .live-content__right {
        display: block;
    }
}



/* radio page */
@media(max-width:1100px) {
    .radio__items {
        flex-wrap: wrap;
    }
}

/* tv-program */
@media(max-width:1100px) {
    .tvProgram__right {
        display: none;
    }

    .tvProgram__main {
        justify-content: center;
    }

}

@media(max-width:1100px) {
    .tvProgram__right {
        display: block;
    }

    .tvProgram__main {
        flex-direction: column;
        align-items: center;
    }

}



/* transfers page */
@media (max-width:330px) {
    .transfers__list {
        gap: 5px;
    }
}


/* transfer page */
@media (max-width:1150px) {
    .transfer-hero {
        height: 400px;
    }

    .transfer-hero__title {
        font-size: 28px;
        line-height: 129%;
        margin-top: 10px;

    }

    .transfer-hero__description {
        max-width: 340px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        line-clamp: 7;
        overflow: hidden;
        display: -webkit-box;
    }
}

@media (max-width:700px) {
    .transfer-hero__container {
        padding: 0;
    }

    .transfer-hero__info {
        padding: 10px 10px;
    }

    .transfer-hero {
        background-image: none;
        background: var(--neutral-neutral-800);
    }

    .transfer-hero__mobile-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .transfer-hero__mobile-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .transfer-hero {
        height: auto;
    }

    .releases__items {
        justify-content: center;
    }
}