/* news-item*/
.news-block__list {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.news-item {
    display: none;
    margin-top: 30px;
    width: 280px;
    height: 254px;
    font-family: var(--font-family);
}

.news-item.active {
    display: block;
}

.news-item__media {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 158px;
    position: relative;
}

.news-item__media::before {
    content: "";
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bw-black);
    opacity: 0.35;
}

.news-item:hover .news-item__media::before {
    display: block;
}

.news-item--media__btn {
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 10;
    width: 36px;
    height: 36px;
    background-color: var(--primary-primary-500);
    display: none;
}


.news-item__media {
    position: relative;
}

.news-item.news-item--media .news-item--media__btn {
    display: block;
}

.news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item__bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-top: 16px;
    width: 100%;
    height: 90px;
}

.news-item__title a {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Макс. число строк */
    overflow: hidden;
}

.news-item__descr {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
}

.news-item__descr p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Макс. число строк */
    overflow: hidden;
    width: 100%;
}

.news-item__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
    display: flex;
    gap: 15px;
}

.news-item_views {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-views__icon svg {
    fill: var(--neutral-neutral-500);
}

.news-item:hover .item-views__icon svg {
    fill: var(--bw-black);
}

.news-item:hover .news-item_views span {
    color: var(--bw-black);
}

.news-item:hover .news-item_time {
    color: var(--bw-black);
}

.news-block__list--second {
    flex-wrap: nowrap;
    padding-top: 30px;
    flex-direction: column;
}

.news-item--second {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 158px;
    gap: 3%;
    align-items: start;
}
.news-item--second a {
    height: 100%;
}
.news-item--second.active {
    display: flex;
}

.news-item--second .news-item__media {
    width: 350px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.news-item--second .news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item--second .news-item__bottom {
    padding-top: 0;
}

.news-item.news-item--second .news-item__descr {
    display: block;
}
