.video-navigation {
    position: absolute;
    width: 100%;
    height: 52px;
}
.video-navigation__volume {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80px;
}
.video-navigation__controls {
    width: 100%;
    height: 48px;
    background: rgba(26, 26, 26, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
}
.video-navigation__controls_left {
    display: flex;
    align-items: center;
    gap: 30px;
}
.video-navigation__timeline {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-100);
}
.video-navigation__mute svg {
    fill: #fff;
}
.video-navigation__range-input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
}


.video-navigation__slider-styled.noUi-target{
    max-width: 52px;
    height: 4px;
    width: 100%;
    box-shadow: none;
    background: var(--b&w-white);
    border-radius: 4px !important;
  /* border: 1px solid #D3D3D3 !important; */
  background: var(--bw-white);

    
}

/* Hide markers on slider handles */
.video-navigation__slider-styled .noUi-handle::before,
.video-navigation__slider-styled .noUi-handle::after {
    display: none;
}

.video-navigation__slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    width: auto;
    height: auto;
}

/* Show a border when hovering the area the handle responds to */
.video-navigation__slider-styled .noUi-handle:hover .noUi-touch-area {
    border: 1px dashed #fff;
}

#video-navigation__slider-round .noUi-handle {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    transform: translateY(-40%);
    right: -9px;
    /* half the width */
    border-radius: 100%;
    border: none;
    background-color: #fff;
}
#video-navigation__slider-round .noUi-origin {
    background: red !important;
  height: 100% !important;
}

/* #video-navigation__slider-round .noUi-base .noUi-connect {
    background: red !important;
    height: 2px;
} */

.video-navigation__progress.noUi-target{
    width: 100%;
    height: 4px;
    box-shadow: none;
     background: var(--bw-white);
    
}
/* Стили для noUiSlider */
  
  /* Кастомизация слайдера */
.video-navigation__progress.noUi-target {
    background: #ddd;
    border: none;
    box-shadow: none;
  }
  
.video-navigation__progress.noUi-connect {
    background: #4CAF50;
  }
  
.video-navigation__progress.noUi-handle {
    width: 15px;
    height: 15px;
    right: -8px !important;
    background: #4CAF50;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }
  
  .video-navigation__progress .noUi-handle:before, .noUi-handle:after {
    display: none;
  }



/* Кастомизация слайдера */
.video-navigation__progress .noUi-target {
  background: #ddd;
  border: none;
  box-shadow: none;
}

.video-navigation__progress .noUi-connect {
  background: #4CAF50;
}

.video-navigation__progress .noUi-handle {
  width: 12px;
  height: 12px;
  right: -8px !important;
  top: 50%;
  transform: translate(-50%,-50%);
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: var(--primary-primary-300);
  position: absolute;
  border-radius: 100%;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}
.video-navigation__progress > .noUi-base {
    height: 100% !important;
}
.video-navigation__progress .noUi-origin {
    height: 100% !important;
  width: 100%;
  background: var(--primary-primary-300);
}
