.contacts__contacts {
    padding-top: 60px;
}

.contacts__page {
    font-family: var(--font-family);
}
.contacts__main_top {
    padding-bottom: 5%;
}
.contacts__inner {
    padding-top: 30px;
    display: flex;
    align-items: start;
    padding-bottom: 10%;
    gap: 30px;
}
.contacts__address {
    padding-top: 5%;
    font-style: normal;
}
.contacts__address_list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.contacts__addres_item {
    display: flex;
    flex-direction: column;
    align-items: start;

}
.contacts__addres_item a {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-black);
}
.contacts__addres_item--email a{
    text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--primary-primary-700);
}
.contacts__addres_item span {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}

.contacts-map {
    border-radius: 12px;
    overflow: hidden;
    width: 904px;
    height: 480px;
}
.contacts-map iframe {
    width: 100%;
    height: 100%;
}
.requisite {
    border-top: 1px solid var(--neutral-neutral-200);
    padding-top: 30px;
}
.requisite__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.requisite__download {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--bw-black);
}
.requisite__title {
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--bw-black);
}
.requisite__body {
    padding-top: 5%;
}
.requisite__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.requisite__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.requisite__item_title {
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.requisite__item_content {
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-black);
}

.aboutUs {
    border-radius: 12px;
padding: 20px;
width: 473px;
min-height: 846px;
background: var(--neutral-neutral-100);
}
.aboutUs__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.aboutUs__title {
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--bw-black);
}
.aboutUs__image {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.aboutUs__image_content {
    border-radius: 12px;
width: 433px;
height: 282px;
overflow: hidden;
}
.aboutUs__image_content img{
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutUs__image_title {
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-700);
}

.aboutUs__director {
    display: flex;
    align-items: center;
    gap: 30px;
}
.aboutUs__director_info  span {
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.aboutUs__director_name {
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--bw-black);
}
.aboutUs__text p {
    margin-top: 20px;
}