/* main content: */
.news {
    padding-top: 60px;
}

.news__inner {
    padding-bottom: 100px;
}



/* grid test */
.news__main {
    padding-top: 32px;
}

.news__grid {
    display: flex;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
}


.programs__inner {
    padding-bottom: 10%;
}

.programs-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-family);
}

.programs-slide__inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(38, 38, 38, 0) 0%, rgba(19, 19, 19, 0.3) 50%, rgba(19, 19, 19, 1) 70%, #000 100%);
}

.programs-slide__info {
    padding-top: 80px;
    max-width: 512px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    gap: 52px;
}

.programs-slide__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
}

.programs-slide__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: var(--bw-white);
}

.programs-slide__schedule span {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--primary-primary-300);
}

.programs-slide__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-white);
    font-family: var(--font-family);
}

.programs-slide__btns {
    display: flex;
    align-items: start;
    gap: 16px;
}

.programs-slide__btn {
    border-radius: 12px;
    padding: 16px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
}

.programs-slide__btn--primary {
    color: var(--bw-white);
    background: var(--primary-primary-500);
    transition: background ease-in-out 0.1s;
}

.programs-slide__btn--primary:hover {
    background: var(--primary-primary-700);
}

.programs-slide__btn--primary:disabled {
    background: var(--primary-primary-500);
    opacity: 0.5;
}

.programs-slide__btn--secondary {
    padding: 14px 22px;
    border: 2px solid var(--primary-primary-500);
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-primary-500);
    transition: all ease-in-out 0.1s;
}

.programs-slide__btn--secondary>svg {
    fill: var(--primary-primary-500);
}

.programs-slide__btn--secondary:hover {
    background: var(--primary-primary-100);
    color: var(--primary-primary-700);
}

.programs-slide__btn--secondary:hover>svg {
    fill: var(--primary-primary-700);
}

.programs__slider {
    position: relative;
    height: 680px;
}

.slider-navigation {
    position: absolute;
    bottom: 60px;
    left: 16%;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 30px;
}

.slider-navigation__counter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.swiper-pagination {
    position: static;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--neutral-neutral-300);
}