.news-page {
    font-family: var(--font-family);
}

.news-content__inner {
    padding-top: 3%;
    padding-bottom: 10%;
}

.news-content__tabs_wrapper {
    padding-top: 1%;
    display: flex;
    align-items: end;

}

.news-content__filters_btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--bw-black);
    display: flex;
    gap: 10px;
    border-radius: 24px;
    padding: 5px 12px;
}

.news-content__filters_btn:hover {
    background: var(--neutral-neutral-100);
}

.news-page__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: var(--bw-black);
}

.news-content__bottom {
    padding-top: 32px;
    display: flex;
    align-items: start;
    gap: 32px;
}

.news-content__left {
    flex-basis: 80%;
}

.news-content__right {
    max-width: 280px;
    flex-basis: 26%;
}

.popular-sidebar--news {
    margin-top: 10%;
    width: 100%;
}

.news-content__load-more_btn {
    margin-top: 32px;
    width: 100%;
    border: 2px solid var(--primary-primary-500);
    border-radius: 12px;
    padding: 16px 24px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--primary-primary-500);
    text-align: center;
}

.news-content__load-more_btn:hover {
    border: 2px solid var(--primary-primary-700);
    background: var(--primary-primary-100);
    color: var(--primary-primary-700);
}

.news-content__load-more_btn:active {
    background-color: var(--primary-primary-700);
}

.news-content__load-more_btn:disabled {
    opacity: 0.5;
}