.radio__content {
    padding-top: 60px;
}

.radio__content_inner {
    padding-top: 30px;
    padding-bottom: 5%;
    display: flex;
    align-items: start;
    gap: 30px;
}


.radio__next {
    padding-top: 30px;
}

.radio__programs {
    padding-top: 3%;
}

.radio-events {
    padding-top: 48px;
}

.radio-events__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    color: var(--bw-black);
}

.radio__next_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--bw-black);
}

.radio-slide__schedule span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--primary-primary-300);
}

.radio-slide__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: var(--bw-white);
}

.radio-slide__paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-white);
}

.slider-styled,
.slider-styled .noUi-handle {
    max-width: 52px;
    height: 4px;
    width: 100%;
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    width: auto;
    height: auto;
}

/* Show a border when hovering the area the handle responds to */
.slider-styled .noUi-handle:hover .noUi-touch-area {
    border: 1px dashed #ffffff;
}


#slider-round .noUi-handle {
    height: 10px;
    width: 10px;
    top: 50%;
    transform: translateY(-40%);
    right: -9px;
    /* half the width */
    border-radius: 100%;
    border: none;
    background-color: #fff;
}

.range-input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
}



.radio-slide__btn {
    border-radius: 12px;
    padding: 16px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
}

.radio-slide__btn--primary {
    color: var(--bw-white);
    background: var(--primary-primary-500);
    transition: background ease-in-out 0.1s;
}

.radio-slide__btn--primary:hover {
    background: var(--primary-primary-700);
}

.radio-slide__btn--primary:disabled {
    background: var(--primary-primary-500);
    opacity: 0.5;
}

.radio-slide__btn--secondary {
    padding: 14px 22px;
    border: 2px solid var(--primary-primary-500);
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-primary-500);
    transition: all ease-in-out 0.1s;
}

.radio-slide__btn--secondary>svg {
    fill: var(--primary-primary-500);
}

.radio-slide__btn--secondary:hover {
    background: var(--primary-primary-100);
    color: var(--primary-primary-700);
}

.radio-slide__btn--secondary:hover>svg {
    fill: var(--primary-primary-700);
}

.radio-slider {
    position: relative;
    overflow: hidden;
    max-width: 904px;
    width: 100%;
    height: 520px;
    border-radius: 12px;
}

.radio-slider__wrapper {
    /* display: flex; */
    width: 100%;
    height: 100%;
}

.radio-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.radio-slide__btn {
    border-radius: 12px;
    padding: 16px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
}

.radio-slide__btn--primary {
    color: var(--bw-white);
    background: var(--primary-primary-500);
    transition: background ease-in-out 0.1s;
}

.radio-slide__btn--primary:hover {
    background: var(--primary-primary-700);
}

.radio-slide__btn--primary:disabled {
    background: var(--primary-primary-500);
    opacity: 0.5;
}

.radio-slide__inner {
    max-width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 52px;

}

.radio-slide__wrapper {
    height: 100%;
    background: linear-gradient(270deg, rgba(38, 38, 38, 0) 0%, #000 100%);

}
}

.radio-slide__paragraph {
    margin-top: 30px;
}

.radio-slider-navigation {
    position: absolute;
    z-index: 10;
    bottom: 5%;
    left: 52px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.radio-slider-pagination {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--neutral-neutral-300);
}