.transfers__list {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
}

.transfers__bottom {
    padding-top: 30px;
    padding-bottom: 10%;
}

.transfers__top {
    padding-top: 60px;
}

.news-content__tabs_wrapper {
    padding-top: 30px;
}