.watch__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: var(--bw-black)
}

.watch__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.watch__item {
    border: 1px solid var(--neutral-neutral-200);
    border-radius: 12px;
    padding: 24px;
    width: 280px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.watch__item_image {
    flex-shrink: 0;
    width: 76px;
    height: 76px;
}

.watch__item_image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.watch__item_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
    
}

.watch__item_top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.watch__item_bottom a {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
    display: flex;
    align-items: center;
    gap: 5px;
}

.watch__content_inner {
    padding-bottom: 5%;
}