.header {
    height: 240px;
    width: 100%;
}
.header__top_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: start;
    gap: 50px;
}
.header__media {
    flex-basis: 206px;
    flex-shrink: 0;
    height: 148px;
    border-radius: 12px;
    overflow: hidden;
}
.header__media_tabs {
    height: 32px;
    display: flex;
    align-items: center;
    background: var(--neutral-neutral-100);
}
.header__media_tab {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-700);
}
.header__media_tab.active {
    background: var(--neutral-neutral-800);
    color: var(--bw-white);
}
.header__media_tab.active > svg {
    stroke: #fff;
}
.header__media_tab > svg {
    stroke: var(--neutral-neutral-700);
}
.header__media_content {
    position: relative;
    display: none;
    width: 100%;
    height: 100% - 32px;
}
.header__media_content video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__media_content.active {
    display: block;
}

.header__schedule {
    max-width: 958px;
    flex-basis: 100%;
    flex-shrink: 0;
}
.schedule-list {
    display: flex;
    gap: 10px;
}
.schedule-list__item {
    border: 1px solid var(--neutral-neutral-200);
border-radius: 12px;
padding: 12px;
width: 178px;
height: 112px;
display: flex;
flex-direction: column;
align-items: start;
gap: 5px;
}
.schedule-list__item time {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.schedule-list__item a {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--bw-black);
}
.schedule-list__item a:hover {
    color:var(--primary-primary-500)
}
.header__schedule_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.schedule-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}
.schedule-navigation__btn svg {
    stroke: var(--neutral-neutral-500);;
}
.header__schedule_title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-500);
}
.header__schedule_slider {
    margin-top: 10px;
    overflow-x: hidden;
}


/* header__bottom */
.header__bottom {
    width: 100%;
    height: 60px;
    background: var(--neutral-neutral-100);
}
.header__bottom_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    gap: 30px;
    align-items: center;
}
.header__item a {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--bw-black);
}
.header__item a:hover {
    color: var(--primary-primary-500);
}
.header__search_btn > svg {
stroke: var(--bw-black);
}
.header__search_btn:hover > svg {
    stroke: var(--primary-primary-500);
    }

    .header__list {
        margin-right: 35px;
    }


    /* overlay */


    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
    }
    
    .header__media_content--video:hover .video-overlay {
        display: block;
    }
    
    .video-overlay__inner {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: end;
        gap: 40%;
    }
    
    .video-overlay__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 500;
        font-size: 12px;
        line-height: 167%;
        color: var(--neutral-neutral-200);
    }
    .video-custom-controls__btn svg{
        fill:#fff;
    }