@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-primary-500: #14ab28;
  --primary-primary-300: #70e780;
  --primary-primary-100: #e9fdeb;
  --primary-primary-700: #006838;
  --primary-primary-900: #003b20;
  --neutral-neutral-500: #8a8a8a;
  --neutral-neutral-300: #bdbdbd;
  --neutral-neutral-100: #f2f2f2;
  --neutral-neutral-700: #545454;
  --neutral-neutral-900: #292929;
  --bw-white: #fff;
  --bw-black: #1a1a1a;
  --negative-negative-500: #d30000;
  --neutral-neutral-200: #e0e0e0;
  --neutral-neutral-800: #2e2e2e;
  --font-family: "Golos Text", sans-serif;
  --second-family: -apple-system, "SF Pro Display", sans-serif;
  /* Системный шрифт Apple */
  --third-family: "Roboto", sans-serif;
  --font3: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.is-hidden {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;


}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1230px;
}

body.active {
  padding-top: 240px;
}

.dis-scroll {
  overflow-y: hidden;
}


.video-js .vjs-play-progress {
  background-color: var(--primary-primary-300);
}

.vjs-slider-bar::before {
  display: none;
}

.video-js .vjs-big-play-button {
  width: 88px;
  height: 88px;
  margin-top: auto;
  margin-left: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bw-black);
  border-radius: 100%;
  border: none;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  content: "";
  background-image: url("./../assets/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 27px;
  color: var(--primary-primary-300);
  width: 27px;
  height: 31px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.video-js .vjs-big-play-button:hover .vjs-icon-placeholder::before {
  opacity: 0.5;
}

.play-btn {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.7; */

}

.play-btn:hover {
  background-color: rgba(0, 0, 0, 1);
}

.play-btn--small {
  width: 52px;
  height: 52px;
}

.page-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  color: var(--bw-black);
}


/* Header */
.header {
    height: 240px;
    width: 100%;
}

.header.fixed {
    height: auto;
    max-height: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #fff;
    animation: slideDown 0.35s ease-in;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.header.fixed.animate {
    max-height: 120px;
    transition: max-height 1.3s ease-in-out;

}

.header.fixed .header__media {
    display: none;
}

.header.fixed .header__schedule_top {
    display: none;
}

.header.fixed .header__schedule {
    width: 100%;
    max-width: none;
}

.header.fixed .header__schedule_slider {
    margin-top: 0;
}

.header.fixed .schedule-list__item {
    min-width: 150px;
    width: auto !important;
    flex-direction: row;
    border: none;
    height: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__top_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: start;
    gap: 50px;
}

.header__media {
    flex-basis: 206px;
    flex-shrink: 0;
    height: 148px;
    border-radius: 12px;
    overflow: hidden;
}

.header__media_tabs {
    height: 32px;
    display: flex;
    align-items: center;
    background: var(--neutral-neutral-100);
}

.header__media_tab {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-700);
}

.header__media_tab.active {
    background: var(--neutral-neutral-800);
    color: var(--bw-white);
}

.header__media_tab.active>svg {
    stroke: #fff;
}

.header__media_tab>svg {
    stroke: var(--neutral-neutral-700);
}

.header__media_content {
    position: relative;
    display: none;
    width: 100%;
    height: 100% - 32px;
}

.header__media_content video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__media_content.active {
    display: block;
}

.header__schedule {
    max-width: 958px;
    flex-basis: 100%;
    flex-shrink: 0;
}

.schedule-list {
    display: flex;
}

.schedule-list__item {
    flex-shrink: 0;
    border: 1px solid var(--neutral-neutral-200);
    border-radius: 12px;
    padding: 12px;
    width: 178px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.schedule-list__item time {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
}

.schedule-list__item a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--bw-black);
}

.schedule-list__item a:hover {
    color: var(--primary-primary-500)
}

.header__schedule_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.schedule-navigation__btn svg {
    stroke: var(--neutral-neutral-500);
    ;
}

.header__schedule_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
}

.header__schedule_slider {
    display: none;
    margin-top: 10px;
    overflow-x: hidden;
}

.header__schedule_slider.active {
    display: block;
}

/* header__bottom */
.header__bottom {
    width: 100%;
    height: 60px;
    background: var(--neutral-neutral-100);
}

.header__bottom_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__item a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--bw-black);
}

.header__item a:hover {
    color: var(--primary-primary-500);
}

.header__search_btn>svg {
    stroke: var(--bw-black);
}

.header__search_btn:hover>svg {
    stroke: var(--primary-primary-500);
}

.header__list {
    margin-right: 35px;
}


/* overlay */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.header__media_content--video:hover .overlay {
    display: block;
}

.header__media_content--radio:hover .overlay {
    display: block;
}

.overlay__inner {
    padding: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 40%;
}

.overlay__info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    padding: 0 10px 5px 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 77.43%);
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 7px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-200);
}

.video-custom-controls {
    display: flex;
    align-items: center;
    gap: 25px;
}

.video-custom-controls__btn svg {
    fill: #fff;
}

.video__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-200);
}

.hidden {
    display: none;
}

.header__media_content--radio {
    height: calc(100% - 32px);
    position: relative;
    background-color: var(--primary-primary-500);
}

.radio__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-content span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--bw-white);
}

.radio-overlay {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 77.43%);
    height: 30px;

}

.radio-overlay__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-200);
}

.header__burger_btn {
    display: none;
    width: 24px;
    height: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__burger_btn span{
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bw-black);
    color:var(--bw-black);
}
.header__burger_btn span::before {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
        background-color: currentColor;
    top: -7px;
    left: 0;
}
.header__burger_btn span::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
        background-color: currentColor;
    bottom: -7px;
    left: 0;
}
.header__burger_btn:hover span {
     background-color: var(--primary-primary-500);
    color:var(--primary-primary-500);
}

/* Footer */
.footer {
    min-height: 384px;
    width: 100%;
    background: var(--neutral-neutral-900);
    background-image: url("./../assets/img/footerbg.png");
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: var(--font-family);
}

.footer__top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__inner--top {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer__top-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
}

.footer__info {
    font-style: normal;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.footer__info a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.footer__top-right {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: end;
}

.footer__nav_list {
    display: flex;
    align-items: start;
    gap: 40px;
}

.footer__nav_item a {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-wrap: nowrap;
    color: var(--bw-white);
}

.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.footer__socials_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.footer__socials_list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__inner--bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-300);
}
.footer__inner--bottom address {
    font-style: normal;
}
.footer__inner--bottom address a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-300);
}

.footer__inner--bottom address a:hover {
    text-decoration: underline;
}

.footer__inner--bottom span a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary-primary-300);
}

.footer__bottom {

    padding-top: 24px;
    padding-bottom: 15px;
    border-top: 1px solid var(--neutral-neutral-700);
}


/* Slider: */
.swiper {
    width: 100%;
    height: 680px;
}


.radio-slider__navigation {
    position: absolute;
    z-index: 10;
    bottom: 19px;
    left: 1%;
}

/* popular: */
.popular {
    min-height: 50vh;
}

.popular__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-bottom: 10%;
}

.popular__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: var(--b&w-black);
}

.popular__content {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}




.menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10008;
    transform: scaleY(0);
    background: var(--neutral-neutral-900);
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0, 0.32, 0.36, 0.97);
}

.navigator {
    margin: 10px;
    background: transparent;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 34px;
    box-shadow: inset 0 0 5px 0px #f44336;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: all 1s linear;
}

.menu.open {
    transform: scaleY(1);
}

.menu__container {
    height: 100%;
}

.menu.open .navigator {
    transform: scaleY(1);
    opacity: 1;
}

.menu__inner {
    padding-top: 12%;
    max-width: 1008px;
    height: 100%;
}

.menu__top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 100px;

}

.menu__input {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 1000px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--bw-white);

}

.menu__input input {
    outline: none;
    width: 100%;
    padding: 12px 0px;
    color: #fff;
}

.menu__input input::placeholder {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--neutral-neutral-500);
}


.menu__results {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.menu-filters {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 36px;
}

.menu-filters__list {
    display: flex;
    gap: 15%;
}

.menu__results_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.menu-filters__item {
    cursor: pointer;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-200);
}

.menu-filters__item:hover {
    border-bottom: 2px solid var(--primary-primary-500);
}

.menu-filters__item.active {
    border-bottom: 2px solid var(--primary-primary-500);

}

.results-news {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.results-news__media {
    display: none;
    border-radius: 12px;
    width: 180px;
    height: 100px;
    overflow: hidden;
}

.results-news.media .results-news__media {
    display: block;
}

.results-news__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.results-news__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.popular-sidebar__item_info--results time {
    color: var(--neutral-neutral-500);
}

.popular-sidebar__item_info--results span {
    color: var(--neutral-neutral-500);
}

.results-news__title a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-white);
}

.results-news__descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--bw-white);
}

.results-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    gap: 30px;
    max-height: 500px;
}

.main-transfers__list {
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
}

.main-transfers__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-transfers__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: var(--bw-black);
}

.main-transfers__body {
    padding-top: 3%;
}

.main-transfers__all {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--primary-primary-500);
    transition: color 0.2s ease-in-out;

}

.main-transfers__all:hover {
    color: var(--bw-black);
}

.main-transfers__inner {
    padding-bottom: 5%;
}

.menu-list {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    overflow-y: scroll;
}

.menu-news {
    display: flex;
    align-items: start;
    gap: 20px;
}


.menu-news__media {
    display: none;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
    width: 180px;
    height: 100px;
}

.menu-news__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-news__media video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-news__icon {
    fill: var(--neutral-neutral-500);
}

.menu-news:hover .menu-news__media video {
    opacity: 0.35;
}

.menu-news:hover .menu-news__media img {
    opacity: 0.35;
}

.menu-news:hover .menu-news__meta time {
    color: #fff;
}

.menu-news:hover .menu-news__icon {
    fill: #fff;
}

.menu-news:hover .menu-news__views span {
    color: #fff;
}

.menu-news__media:has(video) {
    position: relative;
}

.menu-news__play-btn {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 12px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-primary-500);
}



.menu-news__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.menu-news__title a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-white);
}

.menu-news__text p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--bw-white);
}

.menu-news__meta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-news__meta time {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
}

.menu-news__views {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-news__views span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
}

.menu-news.menu-news--media .menu-news__media {
    display: block;
}
.news-block {
    min-width: 900px;
}



/* ADS */
.ads-block {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
}
.ads-block img{
    border-radius: 12px;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* Player */

.player {
    border-radius: 12px;
    padding: 8px;
    width: 280px;
    height: 416px;
    background: var(--neutral-neutral-800);
}

.player__info_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.player__info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.player__main_top {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    padding: 16px 12px;
    background: var(--primary-primary-500);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.player__frequency {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--bw-white);
}

.player__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--bw-white);
}

.player__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__volume {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100px;
}

.player__mute svg {
    fill: #fff;
}

.player__item_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.player__item_frequency {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-300);
}

.player__item {
    border-radius: 12px;
    padding: 8px 12px;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.player__item:hover {
    background: var(--neutral-neutral-700);
}

.player__main_bottom {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid var(--neutral-neutral-700);
}

.player__controls_controls {
    display: flex;
    gap: 20px;
}
.play-svg {
    display: none;
}
.player__controls_btn--play.active .play-svg {
    display: block;
}
.player__controls_btn--play.active .pause-svg {
    display: none;
}

/*  - tabs: */
.tabs {
    width: 100%;
    border-bottom: 1px solid var(--neutral-neutral-200);
}

.menu-tabs {
    border-bottom: 1px solid var(--neutral-neutral-700);
}

.tabs__list {
    display: flex;
    align-items: center;
}

.tab {
    cursor: pointer;
    padding: 8px 20px;
    transition: background 0.3s ease-in-out;
}

.tab:hover {
    background: var(--neutral-neutral-100);
}

.tab:hover span {
    color: var(--bw-black);
}

.tab span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
    transition: color 0.3s ease-in-out;
}

.tab.active {
    border-bottom: 2px solid var(--primary-primary-500);
    margin-bottom: -2px;
}

.tab.active span {
    color: var(--bw-black);
}

.menu-tab.active span {
    color: var(--neutral-neutral-200);
}

.menu-tab span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
}

.menu__results span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-neutral-300);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}



/* news-item*/
.news-block__list {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.news-item {
    display: block;
    margin-top: 30px;
    width: 280px;
    height: 254px;
    font-family: var(--font-family);
}



.news-item__media {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 158px;
    position: relative;
}

.news-item__media::before {
    content: "";
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bw-black);
    opacity: 0.35;
}

.news-item:hover .news-item__media::before {
    display: block;
}

.news-item--media__btn {
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 10;
    width: 36px;
    height: 36px;
    background-color: var(--primary-primary-500);
    display: none;
}


.news-item__media {
    position: relative;
}

.news-item.news-item--media .news-item--media__btn {
    display: block;
}

.news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item__bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-top: 16px;
    width: 100%;
    height: 90px;
}

.news-item__title a {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Макс. число строк */
    overflow: hidden;
}

.news-item__descr {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
}

.news-item__descr p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Макс. число строк */
    overflow: hidden;
    width: 100%;
}

.news-item__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
    display: flex;
    gap: 15px;
}

.news-item_views {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-views__icon svg {
    fill: var(--neutral-neutral-500);
}

.news-item:hover .item-views__icon svg {
    fill: var(--bw-black);
}

.news-item:hover .news-item_views span {
    color: var(--bw-black);
}

.news-item:hover .news-item_time {
    color: var(--bw-black);
}

.news-block__list--second {
    flex-wrap: nowrap;
    padding-top: 30px;
    flex-direction: column;
}

.news-item--second {
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 158px;
    gap: 3%;
    align-items: start;
}

.news-item--second a {
    height: 100%;
}


.news-item--second .news-item__media {
    width: 280px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.news-item--second .news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item--second .news-item__bottom {
    padding-top: 0;
}

.news-item.news-item--second .news-item__descr {
    display: block;
}

.main-news-item {
    height: 300px;
    width: 100%;
    display: flex;
    gap: 3%;
    align-items: start;
}



.main-news-item .news-item__title a {
    overflow: auto;
    -webkit-box-orient: inherit;
    -webkit-line-clamp: inherit;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--bw-black);
}

.main-news-item .news-item__descr p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    width: 100%;
}

.main-news-item .news-item__media {
    width: 532px;
    height: 100%;
    border-radius: 25px;
}

.main-news-item .news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-news-item .news-item__bottom {
    padding-top: 0;
}

.main-news-item .news-item__descr {
    display: block;
}


/* ProgramListItem */

.programListItem {
    margin-top: 8px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    border-radius: 12px;
    padding: 12px 12px 12px 16px;
    max-width: 904px;
    min-height: 72px;
    max-height: 160px;
    background: var(--neutral-neutral-100);

}


.programListItem time {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--bw-black);
}

.programListItem.programListItem--second>time {
    color: var(--primary-primary-500);
}

.programListItem__title {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
    font-family: var(--font-family);
}

.programListItem__text {
    margin-top: 10px;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
    font-family: var(--font-family);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Макс. число строк */
    overflow: hidden;
}

.programListItem__type {
    margin-top: 5px;
    font-weight: 400;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
}

.programListItem__age {
    position: absolute;
    transform: translate(5px, -5px);
    font-weight: 400;
    font-size: 13px;
    line-height: 133%;
    color: var(--neutral-neutral-500);
    font-family: var(--font-family);
}

.programListItem__media {
    display: none;
    flex-shrink: 0;
    border-radius: 12px;
    width: 240px;
    height: 136px;
    overflow: hidden;
}

.programListItem__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programListItem.programListItem--third .programListItem__text {
    display: -webkit-box;
}

.programListItem.programListItem--third .programListItem__media {
    display: block;
}



.filters.active {
  display: flex;
}

.filters {
  margin-top: 30px;
  display: none;
  align-items: center;
  gap: 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
  border-radius: 12px;

  min-width: 148px;
  height: 40px;
  margin-top: 5%;
}

/* Dropdown Button */
.dropdown__button {
  padding: 12px 34px 12px 16px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--neutral-neutral-500);
  width: 100%;
  text-align: left;
  background: #ffffff;
  border: 1px solid var(--neutral-neutral-300);
  border-radius: 12px;
  height: 40px;
  cursor: pointer;
}

/* Dropdown Button Arrow */
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 5%;
  transform: translateY(-50%);
  width: 17px;
  height: 15px;
  background: url("../assets/svg/dropdownIcon.svg") 100% 100% no-repeat;
  pointer-events: none;
  transition: 200ms ease;
}

/* Active Button Arrow */
.dropdown__button_active::after {
  transform: translateY(-50%) rotate(-180deg);
}

/* Dropdown List */
.dropdown__list {
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 20px 0px rgba(136, 145, 157, 0.3);
  border: 1px solid #e6eaed;
  border-radius: 12px;
  padding: 4px;
  background: #ffffff;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
}

/* Visible List */
.dropdown__list_visible {
  opacity: 1;
  visibility: visible;
}

/* Dropdown List Item */
.dropdown__list-item {
  margin: 0;
  padding: 0;
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  transition: 200ms ease;
}

/* Active List Item */
.dropdown__list-item_active {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #303030;
}

/* Hover List Item */
.dropdown__list-item:hover {

  color: #000000;
}

/* Hidden Input */
.dropdown__input_hidden {
  display: none;
}

.filter-item__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--neutral-neutral-700);
}
.popular-sidebar {
    max-width: 280px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    max-height: 880px;
    background: var(--primary-primary-100);
    border-radius: 12px;
    padding: 20px 16px;
    overflow-y: scroll;
}

.popular-sidebar__title {

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-black);
}

.popular-sidebar__list {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

}

.popular-sidebar__item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.popular-sidebar__item_text {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bw-black);
}

.popular-sidebar__item_text:hover {
    color: var(--primary-primary-500);
}

.popular-sidebar__item_info {
    display: flex;
    gap: 15px;
}

.popular-sidebar__item_time {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--primary-primary-500);
}

.popular-sidebar__item_views {

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--primary-primary-500);
    display: flex;
    align-items: center;
    gap: 5px;
}



/* video navigation */
.video-navigation {
  position: absolute;
  width: 100%;
  height: 52px;
}

.video-navigation__volume {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80px;
}

.video-navigation__controls {
  width: 100%;
  height: 48px;
  background: rgba(26, 26, 26, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
}

.video-navigation__controls_left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.video-navigation__timeline {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--neutral-neutral-100);
}

.video-navigation__sound_btn svg {
  fill: #fff;
}

.video-navigation__sound_btn-mute_svg {
  display: none;
}

.video-navigation__sound_btn.muted .video-navigation__sound_btn-mute_svg {
  display: block;
}

.video-navigation__sound_btn.muted .video-navigation__sound_btn-unmute_svg {
  display: none;
}

.video-navigation__range-input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
}


.video-navigation__slider-styled.noUi-target {
  max-width: 52px;
  height: 4px;
  width: 100%;
  box-shadow: none;
  border-radius: 4px !important;
  border: 1px solid #D3D3D3 !important;
  background: transparent;


}

/* Hide markers on slider handles */
.video-navigation__slider-styled .noUi-handle::before,
.video-navigation__slider-styled .noUi-handle::after {
  display: none;
}

.video-navigation__slider-styled .noUi-handle .noUi-touch-area {
  border: 1px solid transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
}

/* Show a border when hovering the area the handle responds to */
.video-navigation__slider-styled .noUi-handle:hover .noUi-touch-area {
  border: 1px dashed #fff;
}

#video-navigation__slider-round .noUi-handle {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;
  /* half the width */
  border-radius: 100%;
  border: none;
  background-color: #fff;
}

#video-navigation__slider-round .noUi-origin {
  height: 100% !important;
}


.video-navigation__progress.noUi-target {
  width: 100%;
  height: 4px;
  box-shadow: none;
  background: var(--bw-white);

}

/* Стили для noUiSlider */

/* Кастомизация слайдера */
.video-navigation__progress.noUi-target {
  background: #ddd;
  border: none;
  box-shadow: none;
}

.video-navigation__progress.noUi-connect {
  background: #4CAF50;
}

.video-navigation__progress.noUi-handle {
  width: 15px;
  height: 15px;
  right: -8px !important;
  background: #4CAF50;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.video-navigation__progress .noUi-handle:before,
.noUi-handle:after {
  display: none;
}



/* Кастомизация слайдера */
.video-navigation__progress .noUi-target {
  background: #ddd;
  border: none;
  box-shadow: none;
}

.video-navigation__progress .noUi-connect {
  background: #4CAF50;
}

.video-navigation__progress .noUi-handle {
  width: 12px;
  height: 12px;
  right: -8px !important;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: var(--primary-primary-300);
  position: absolute;
  display: none;
  border-radius: 100%;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.video-navigation__progress>.noUi-base {
  height: 100% !important;
}

.video-navigation__progress .noUi-origin {
  height: 100% !important;
  width: 100%;
  background: var(--primary-primary-300);
}

.video-navigation__progress .noUi-base:hover .noUi-handle {
  display: block;
}

.video-navigation__btn_svg--play,
.video-navigation__btn_svg--pause {
  fill: #fff;
}

.video-navigation__btn_svg--pause {
  display: none;
}

.video-navigation__btn.played .video-navigation__btn_svg--pause {
  display: block;
}

.video-navigation__btn.played .video-navigation__btn_svg--play {
  display: none;
}




.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social svg {
    fill: var(--bw-black);
}







/* transfer Item */
.transferItem {
    width: 280px;
    height: 222px;
    display: none;
}

.transferItem.active {
    display: block;
}

.transferItem_media::before {
    content: "";
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bw-black);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.transferItem:hover .transferItem_media::before {
    visibility: visible;
    opacity: 0.35;
}

.transferItem_media {
    position: relative;
    border-radius: 12px;
    width: 280px;
    height: 158px;
    overflow: hidden;
}

.transferItem_media img {
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transferItem_title a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #000;
}

.transferItem_count {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--primary-primary-500);
    transition: color 0.3s ease-in-out;
}

.transferItem:hover .transferItem_count {
    color: var(--bw-black);
}


.transferItem.transferItem--index {
    display: block;
}

/* video news page */
.popular-item {
    width: 384px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.popular-item__media {
    position: relative;
    border-radius: 12px;
    width: 100%;
    height: 216px;
    overflow: hidden;
    z-index: 11;
}

.popular-item__media::before {
    content: "";
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bw-black);
    opacity: 0.35;
}

.popular-item:hover .popular-item__media::before {
    display: block;
}

.popular-item__media_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.popular-item__media_timeline {
    position: absolute;
    bottom: 2%;
    left: 2%;
    border-radius: 8px;
    z-index: 10;
    padding: 4px 7px;
    width: 45px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.7);
}

.popular-item__media_timeline {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--bw-white);
}

.popular-item__media video,
.popular-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.popular-item__title {
    margin-top: 1%;
}

.popular-item__title a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--bw-black);
}


.popular-item__time {
    padding-top: 3%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: var(--neutral-neutral-500);
}

.popular-item:hover .popular-item__time {
    color: var(--bw-black);
}

.popular-item.btn-hidden .popular-item__media_btn {
    display: none;
}

.popular-item.btn-hidden .popular-item__media_timeline {
    display: none;
}

.popular-item__video-navigation {
    bottom: 0;
    z-index: 100;
}

.popular-item.played .video-navigation__btn_svg--play {
    display: none;
}

.popular-item.played .video-navigation__btn_svg--pause {
    display: block;
}
.popular-item.played  .popular-item__media::before {
    display: none;
}
.popular-item .video-navigation {
    bottom: 0;
    height: auto;
}

.popular-item .video-navigation__btn .video-navigation__btn_svg--pause, .popular-item .video-navigation__btn .video-navigation__btn_svg--play {
    pointer-events: none;
}
.popular-item.played .video-navigation {
    opacity: 0;
    transition:opacity 0.3s ease-in-out;
}
.popular-item.played:hover .video-navigation {
    opacity: 1;
}

/* releases item */

.releases-item {
    margin-top: 2.4%;
    width: 280px;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 5px;
}
.releases-item .popular-item__media {
    border-radius: 12px;
width: 280px;
height: 158px;
}
.releases-item .video-navigation__controls_left {
    gap: 17px;
}