
/* main content: */
.news {
    padding-top: 68px;
}





/* grid test */
.news__main {
    padding-bottom: 10%;
    padding-top: 32px;
}
.news__grid {
    display: grid;
    grid-template-columns: repeat(4,280px);
    /* grid-template-rows: repeat(8,110px); */
    /* grid-auto-rows: 110px; */
    column-gap: 32px;
    row-gap: 5px;
    max-height: 1000px;
}
.grid__item {
    width: 100%;
}
.grid__one {
    grid-column: 3 span;
    grid-row: 3 span;
    height: 300px;
}
.grid__two {
    grid-column:1 span;
    grid-row: span 8;
    height: 100%;
}
.grid__three {
    grid-column:3 span;
    grid-row: span 5;
    height: 535px;
}






/* Slider: */
.swiper {
    width: 100%;
    height: 680px;
  }
  .programs__inner {
    padding-bottom: 10%;
  }
  .programs-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.programs-slide__inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(38, 38, 38, 0) 0%, rgba(19, 19, 19, 0.3) 50%,rgba(19, 19, 19, 1) 70%, #000 100%);
}
.programs-slide__info {
    padding-top: 80px;
    max-width: 512px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    gap: 52px;
}
.programs-slide__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
}
.programs-slide__title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 125%;
color: var(--bw-white);
}
.programs-slide__schedule span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--primary-primary-300);
}
.programs-slide__paragraph {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-white);
}
.programs-slide__btns {
    display: flex;
    align-items: start;
    gap: 16px;
}
.programs-slide__btn {
    border-radius: 12px;
padding: 16px 24px;
font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
}
.programs-slide__btn--primary {
    color: var(--bw-white);
    background: var(--primary-primary-500);
}
.programs-slide__btn--secondary {
    border: 2px solid var(--primary-primary-500);
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-primary-500);
}
.programs__slider {
    position: relative;
}
.slider-navigation {
    position: absolute;
    bottom: 60px;
    left: 16%;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 30px;
}
.slider-navigation__counter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.swiper-pagination{
    position: static;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--neutral-neutral-300);
}


/* popular: */
.popular {
    min-height: 50vh;
}
.popular__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-bottom: 10%;
}
.popular__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 122%;
color: var(--b&w-black);
}
.popular__content {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}
.popular-item {
    width: 384px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.popular-item__media {
    border-radius: 12px;
    width: 100%;
    height: 216px;
    overflow: hidden;
}
.popular-item__media video, .popular-item__media img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.popular-item__title {
    margin-top: 1%;
}
.popular-item__title a{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--bw-black);
}
.popular-item__time {
    padding-top: 3%;
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}




.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 8;
    transform: scaleY(0);
    background: var(--neutral-neutral-900);
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0, 0.32, 0.36, 0.97);
}
.navigator {
    margin: 10px;
    background: transparent;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 34px;
    box-shadow: inset 0 0 5px 0px #f44336;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: all 1s linear;
}
.menu.open {
    transform: scaleY(1);
}
.menu__container {
    height: 100%;
}
.menu.open .navigator {
    transform: scaleY(1);
    opacity: 1;
}

.menu__inner {
    padding-top: 12%;
    max-width: 1008px;
    height: 100%;
}
.menu__top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 100px;

}
.menu__input {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 1000px;
    height: 48px;
    border-bottom: 1px solid var(--bw-white);

}
.menu__input input {
    outline: none;
    width: 100%;
    padding: 12px 0px;
    color:#fff;
}
.menu__input input::placeholder {
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--neutral-neutral-500);
}


.menu__results {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.menu-filters {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 36px;
}
.menu-filters__list {
    display: flex;
    gap: 15%;
}
.menu__results_title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--neutral-neutral-300);
}
.menu-filters__item {
    cursor: pointer;
height: 100%;
font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-200);
}
.menu-filters__item:hover {
    border-bottom: 2px solid var(--primary-primary-500);
}
.menu-filters__item.active {
    border-bottom: 2px solid var(--primary-primary-500);

}

.results-news {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.results-news__media {
    display: none;
    border-radius: 12px;
    width: 180px;
    height: 100px;
    overflow: hidden;
}
.results-news.media .results-news__media {
    display: block;
}
.results-news__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.results-news__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.popular-sidebar__item_info--results time {
    color: var(--neutral-neutral-500);
}
.popular-sidebar__item_info--results span {
    color: var(--neutral-neutral-500);
}
.results-news__title a{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--bw-white);
}
.results-news__descr {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--bw-white);
}
.results-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    gap: 30px;
    max-height: 500px;
}