:root {
	--primary-primary-500: #14ab28;
	--primary-primary-300: #70e780;
	--primary-primary-100: #e9fdeb;
	--primary-primary-700: #006838;
	--primary-primary-900: #003b20;
	--neutral-neutral-500: #8a8a8a;
	--neutral-neutral-300: #bdbdbd;
	--neutral-neutral-100: #f2f2f2;
	--neutral-neutral-700: #545454;
	--neutral-neutral-900: #292929;
	--bw-white: #fff;
	--bw-black: #1a1a1a;
	--negative-negative-500: #d30000;
	--neutral-neutral-200: #e0e0e0;
	--neutral-neutral-800: #2e2e2e;
    --font-family: "Golos Text", sans-serif;
    --second-family: "SF Pro Display", sans-serif;
    --third-family: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }
  body {
    overflow-x: hidden;
  }
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
  .is-hidden {
    display: none !important;
  }
  
  .btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
  

  }
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}
  .visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1230px;
  }
  .main.active {
    padding-top: 443px;
  }
  .dis-scroll {
    overflow-y: hidden;
  }
/* header */
.header {
    height: 200px;
    position: relative;

}
.header__inner {
    display: flex;
    align-items: start;
    gap: 30px;
}
.header__media {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
}
.header__media_tabs {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__media_tab {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 1;
    background: var(--neutral-neutral-100);
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-700);
fill: var(--neutral-neutral-700);
stroke: var(--neutral-neutral-700);
}
.header__media_tab.active {
    background: var(--primary-primary-500);
    color: var(--bw-white);
    stroke: var(--bw-white);
    fill: var(--bw-white);
}
.header__media_content {
    height: 168px;
    width: 100%;
    overflow: hidden;
    display: none;
}
.header__media_content.active {
    display: block;
}
.header__media_content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__media_content video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__media_content {
  position: relative;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
}
.header__media_content--video:hover .video-overlay {
    display: block;
}
.video-overlay__inner {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: end;
    gap: 40%;
}
.video-overlay__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-200);
}
.video-custom-controls {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.video-custom-controls__btn svg {
    fill: #fff;
}
.video-custom-controls__btn--play.hidden {
    display: none;
} 
.video-custom-controls__btn--pause.hidden {
    display: none;
}
.video-custom-controls__btn--mute.hidden {
    display: none;
}
.video-custom-controls__btn--unmute.hidden {
    display: none;
}
.header__main {
    padding-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
    height: 100%;
}

.head {
    flex-shrink: 0;
    width: 1500px;
    background: var(--neutral-neutral-100);
    height: 60px;
}
.head__inner {
    max-width: 890px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}
.head-nav__list {
    display: flex;
    align-items: center;
    gap: 36px;

}
.head-nav__item a {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--bw-black);
}
.head__logo {
    width: 60px;
    height: 60px;
}
.head__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__schedule {
    width: 100%;
}
.header__schedule_inner  {
    max-width: 890px;
}
.schedule-navigation {
    display: flex;
    align-items: center;
    gap: 12px;
}
.schedule-navigation__btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__schedule_head {
    display: flex;
    justify-content: space-between;
}
.header__schedule_head span {

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-neutral-500);
}
.header__schedule_body {
    padding-top: 12px;
}
.schedule-list {
    display: flex;
    width: 100%;
}
.header__schedule_slider {
    overflow-x: hidden;
    display: flex;
  justify-content: center;
}
.schedule-list__item {
    font-family: var(--font-family);
    flex-shrink: 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.schedule-list__item time {

font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.schedule-list__item span {

font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--bw-black);
}
.header.fixed  {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
}
.header.fixed  > .container  {
    display: none;
}
.header.fixed .header__main {
    width: 100%;
}
.header.fixed .header__media {
    display: none;
}
.header.fixed .header__head {
    width: 100%;
}
.header.fixed .schedule-list__item {

flex-direction: row;
gap:17px;
  justify-content: center;
  flex-basis: 234px;
  flex:auto;
  flex-shrink: 0;

}
.content-with-fixed {
    display: none;
}
.header.fixed .content-with-fixed {
    display: block;
}
.header.fixed .header__schedule_inner {
    max-width: none;
}
.header.fixed .schedule-list {
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
    background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

}
.header__schedule_body--fixed {
    width: 1210px;
    overflow-x: hidden;
    display: flex;
  justify-content: center;
}
.schedule-list--fixed {
    display: flex;
    width: 100%;
}
.header.fixed .head__inner {
    max-width: none;
}
.header.fixed {
    height: 133px;
}
.header.fixed .schedule-list::-webkit-scrollbar {
    width: 0;
    display: none;
    scrollbar-width: 0;
  }

/* main content: */
.news {
    padding-top: 68px;
}

/*  - tabs: */
.tabs {
    width: 100%;
    border-bottom: 1px solid var(--neutral-neutral-200);
}
.tabs__list {
    display: flex;
    align-items: center;
}
.tab {
    cursor: pointer;
    padding: 8px 20px;
}
.tab a {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-500);
}
.tab.active {
    border-bottom: 2px solid var(--primary-primary-500);
}
.tab.active a {
    color: var(--bw-black);
}
.tab:hover {
    border-bottom: 2px solid var(--primary-primary-500);
}



/* grid test */
.news__main {
    padding-bottom: 10%;
    padding-top: 32px;
}
.news__grid {
    display: grid;
    grid-template-columns: repeat(4,280px);
    /* grid-template-rows: repeat(8,110px); */
    /* grid-auto-rows: 110px; */
    column-gap: 32px;
    row-gap: 5px;
    max-height: 1000px;
}
.grid__item {
    width: 100%;
}
.grid__one {
    grid-column: 3 span;
    grid-row: 3 span;
    height: 300px;
}
.grid__two {
    grid-column:1 span;
    grid-row: span 8;
    height: 100%;
}
.grid__three {
    grid-column:3 span;
    grid-row: span 5;
    height: 535px;
}


/* news */
.main-news {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 16px;
    height: 300px;
}
.main-news__image {
    border-radius: 12px;
/* max-width: 532px; */
flex-basis: 532px;
flex-shrink: 1;
flex-grow: 0;
height: 100%;
}
.main-news__image img {
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-news__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    flex-basis: 356px;
flex-shrink: 1;
flex-grow: 0;
}
.main-news__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--bw-black);
}
.main-news__paragraph {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-black);
}
.main-news__bottom time {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.main-news__views span {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}
.main-news__bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-news__views {
    display: inline-flex;
    align-items: start;
    gap: 5px;
}
.popular-sidebar {
    width: 100%;
    height: 100%;
    max-height: 880px;
    background: var(--primary-primary-100);
    border-radius: 12px;
padding: 20px 16px;
overflow-y: scroll;
}
.popular-sidebar__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--bw-black);
}
.popular-sidebar__list {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
 
}
.popular-sidebar__item {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.popular-sidebar__item_text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-black);
}
.popular-sidebar__item_info {
    display: flex;
    gap: 15px;
}
.popular-sidebar__item_time {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--primary-primary-500);
}
.popular-sidebar__item_views {

font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--primary-primary-500);
    display: flex;
    align-items: center;
    gap: 5px;
}


/* news-item*/
.news-block__list {
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.news-item {
    margin-top: 30px;
    width: 280px;
    height: 254px;

}
.news-item__media {
    border-radius: 12px;
width: 100%;
height: 158px;
}
.news-item__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-item__bottom {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-top: 16px;
    width: 100%;
    height: 90px;

}
.news-item__title a{
    
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--bw-black);
}
.news-item__title a:hover {
    text-decoration: underline;
}
.news-item__info {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
    display: flex;
    gap: 15px;
}
.news-item_views {
    display: flex;
    align-items: center;
    gap: 5px;
}



/* Slider: */
.swiper {
    width: 100%;
    height: 680px;
  }
  .programs__inner {
    padding-bottom: 10%;
  }
  .programs-slide {
    background-image: url("./assets/img/slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.programs-slide__inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(38, 38, 38, 0) 0%, rgba(19, 19, 19, 0.3) 50%,rgba(19, 19, 19, 1) 70%, #000 100%);
}
.programs-slide__info {
    padding-top: 80px;
    max-width: 512px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    gap: 52px;
}
.programs-slide__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
}
.programs-slide__title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 125%;
color: var(--bw-white);
}
.programs-slide__schedule span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--primary-primary-300);
}
.programs-slide__paragraph {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--bw-white);
}
.programs-slide__btns {
    display: flex;
    align-items: start;
    gap: 16px;
}
.programs-slide__btn {
    border-radius: 12px;
padding: 16px 24px;
font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
}
.programs-slide__btn--primary {
    color: var(--bw-white);
    background: var(--primary-primary-500);
}
.programs-slide__btn--secondary {
    border: 2px solid var(--primary-primary-500);
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-primary-500);
}
.programs__slider {
    position: relative;
}
.slider-navigation {
    position: absolute;
    bottom: 60px;
    left: 16%;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 30px;
}
.slider-navigation__counter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.swiper-pagination{
    position: static;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--neutral-neutral-300);
}


/* popular: */
.popular {
    min-height: 50vh;
}
.popular__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-bottom: 10%;
}
.popular__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 122%;
color: var(--b&w-black);
}
.popular__content {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}
.popular-item {
    width: 384px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.popular-item__media {
    border-radius: 12px;
    width: 100%;
    height: 216px;
    overflow: hidden;
}
.popular-item__media video, .popular-item__media img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.popular-item__title {
    margin-top: 1%;
}
.popular-item__title a{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--bw-black);
}
.popular-item__time {
    padding-top: 3%;
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-500);
}

/* footer: */
.footer {
    min-height: 384px;
    width: 100%;
    background: var(--neutral-neutral-900);
    background-image: url("./assets/img/footerbg.png");
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.footer__top {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__inner--top {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer__top-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
}
.footer__info {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--neutral-neutral-300);
}
.footer__info a {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--neutral-neutral-300);
}
.footer__top-right {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: end;
}
.footer__nav_list {
    display: flex;
    align-items: start;
    gap: 40px;
}
.footer__nav_item a {
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--bw-white);
}
.footer__socials{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.footer__socials_title {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--neutral-neutral-300);
}
.footer__socials_list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__inner--bottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer__bottom {
    
    padding-top: 24px;
    padding-bottom: 15px;
   border-top: 1px solid var(--neutral-neutral-700);
}
.footer__bottom-left {
    max-width: 600px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 167%;
color: var(--neutral-neutral-300);
}

.footer__bottom-right a {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--neutral-neutral-300);
}



.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 8;
    transform: scaleY(0);
    background: var(--neutral-neutral-900);
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0, 0.32, 0.36, 0.97);
}
.navigator {
    margin: 10px;
    background: transparent;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 34px;
    box-shadow: inset 0 0 5px 0px #f44336;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: all 1s linear;
}
.menu.open {
    transform: scaleY(1);
}
.menu__container {
    height: 100%;
}
.menu.open .navigator {
    transform: scaleY(1);
    opacity: 1;
}

.menu__inner {
    padding-top: 12%;
    height: 100%;
}
.menu__top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 100px;

}
.menu__input {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 1000px;
    height: 48px;
    border-bottom: 1px solid var(--bw-white);

}
.menu__input input {
    outline: none;
    width: 100%;
    padding: 12px 0px;
    color:#fff;
}
.menu__input input::placeholder {
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: var(--neutral-neutral-500);
}